body {
   background-color: blue;
}
.container {
  text-align: center;
  width: 100%;
}

.dice {
  display: inline-block;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

.img1 {
  width: 40%;
}

.img2 {
  width: 40%;
}
